body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #233142;
}

header {
  background: #4ef037;
  color: #233142;
  padding: 1em 0;
  text-align: center;
}

section {
  padding: 2em;
  border-bottom: 1px solid #ccc;
}

h2 {
  color: #1f5b1f;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0.5em 0;
  color: #1f5b1f;
}

footer {
  background: #4ef037;
  color: white;
  text-align: center;
  padding: 1em 0;
}
button{
  display: block;
  margin: 20px auto;
  border: 1px solid #fff;
  background: #4ef037;
  background:;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
  box-shadow:0 16px 41px rgba(78, 240, 55, 1);
  text-decoration: none;
}
.button:hover {
  background:#fff;
  color: #4ef037;
  cursor: pointer;
}


