body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: white;
  background-color: black;

}
h1{
  margin: 0;
  color: #4ef037;
}
header {
  color: #233142;
  padding: 1em 0;
  text-align: center;
}

section {
  padding: 2em;
  border-bottom: 1px solid #ccc;
}

h2 {
  color: #1f5b1f;
}
.foundingStory{
  text-align: left;
  font-size: 20px;
  font-family: cursive;
}
.get-involved{
  text-align: left;
  font-size: 20px;
  font-family: cursive;
}
ul {
  list-style-type: circle;
  padding: 0;
  text-align: left;
  font-size: 20px;
  font-family: cursive;
}

ul li {
  margin: 0.5em 0;
}

footer {
  color: white;
  text-align: center;
  padding: 1em 0;
}
button{
  display: block;
  margin: 20px auto;
  border: 1px solid #fff;
  background: #4ef037;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
  box-shadow:0 16px 41px rgba(78, 240, 55, 1);
  text-decoration: none;
}
.button:hover {
  background:#fff;
  color: #4ef037;
  cursor: pointer;
}
.contact-details {
  display: none;
  text-align:center;
  font-size: 15px;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  list-style: none;
}


